// _color.scss

// Определение цветов проекта
$secondary-font-color: #868686;
$primary-font-color: #2E3440;
$accent-color: #ECEFF4;

// Другие переменные цветов, если необходимо
$background-color: #FFFFFF;
$active-color: #1E90FF; // Пример цвета ссылок
